{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Page not Found</title>
    <link rel="stylesheet" href="{% static "css/style-404.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div id="not-found">
      <div class="pic-notfound">
        <img src="{% static "img/404.svg" %}" alt="">
        <div>
          <h1 style="color: #0CAD92; font-size: 28px; margin-top: -60px;">Sorry, page doesn't exist</h1>
          <h1 style="color: #0CAD92; font-size: 28px; margin-top: -7px;">let's go back to homepage</h1>
        </div>
        <div class="notfound">
          <a href="home">Homepage</a>
        </div>
        <div style="color: white; margin-top: 30px;">Icons made by <a href="https://www.flaticon.com/authors/flat-icons" title="Flat Icons">Flat Icons</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
      </div>
    </div>
  </body>
</html>
{% endblock %}
