<footer class="page-footer font-small blue pt-4" style="background-color: #2D2D2D;">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

    </div>
    <!-- Footer Links -->
    <a href="#landing-section" style="float:right;">
      <svg width="127" height="108" viewBox="0 0 127 108" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="127" height="108" rx="4" fill="#0CAD92"/>
        <path d="M60.476 31.616H64.652L88.988 71.36H77.18L65.66 51.92L62.348 41.984L57.884 52.064L44.636 71.36H33.692L60.476 31.616Z" fill="white"/>
      </svg>
    </a>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color:white;">© 2018 Copyright:
      <h1>@ariqbasyar</h1>
      {{ date }}
    </div>
    <!-- Copyright -->
    <div class="the-footer">
      <svg width="1314" height="36" viewBox="0 0 1314 36" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="1314" height="43" rx="4" fill="#0CAD92"/>
      </svg>
    </div>

  </footer>
  <!-- Footer -->
