<nav class="navbar fixed-top navbar-dark bg-dark ">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#about-section">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#education-section">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#achievements">Achievements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../projectForm">Form Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../signup">Signup</a>
      </li>
    </ul>
  </div>
</nav>
