{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Projects</title>
    <link rel="stylesheet" href="{% static "css/projects.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <div class="col">
        <h1>Projekku</h1>
      </div>
      {% for i in projects %}
          <div class="row pembatas">
            <div class="col-sm-4"><h5>Nama Projek</h5></div>
            <div class="col-sm-8">{{ i.project_name }}</div>
            <div class="w-100"></div>
            <div class="col-sm-4"><h5>Tanggal Mulai - Tangggal Selesai</h5></div>
            <div class="col-sm-8">{{ i.tanggal_mulai }} - {{ i.tanggal_selesai }}</div>
            <div class="w-100"></div>
            <div class="col-sm-4"><h5>Deskripsi Project</h5></div>
            <div class="col-sm-8">{{ i.description }}</div>
            <div class="w-100"></div>
            <div class="col-sm-4"><h5>Tempat</h5></div>
            <div class="col-sm-8">{{ i.tempat }}</div>
            <div class="w-100"></div>
            <div class="col-sm-4"><h5>Kategori</h5></div>
            <div class="col-sm-8">{{ i.category }}</div>
          </div>
      {% endfor %}
    </div>
  </body>
</html>
{% endblock %}
