h1{
  text-align: center;
}
.container{
  margin-top: 5%;
}
.pembatas{
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
}
.col-sm-8{
  border-left: 1px solid black;
}
