@font-face {
  font-family: 'robo-reg';
  src: url("{% static "fonts/Roboto-Regular.ttf"}") format('truetype');
  font-weight: 500;
  font-style: normal;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background: #333438;
  background-size: cover;
  max-width: 100%;
  top: 0;
  background-repeat: no-repeat;
  font-family: "robo-reg";
}

.first-white-profile{
  border-radius: 6px;
  border: 1px solid #9E9E9E;
  box-sizing: border-box;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  margin-top: 105px;
  margin-left: 50px;
  width: 800px;
  height: 240px;
}

.second-white-profile{
  border-radius: 6px;
  border: 1px solid #9E9E9E;
  box-sizing: border-box;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  margin-top: 35px;
  margin-left: 50px;
  width: 800px;
  height: 240px;
}

.third-white-profile{
  border-radius: 6px;
  border: 1px solid #9E9E9E;
  box-sizing: border-box;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  margin-top: 65px;
  margin-left: -25px;
  width: 800px;
  height: 260px;
}

.section-white-profile{
  display: grid !important;
  grid-template-columns: 2fr 2fr;
  grid-gap: 10px;
  padding: 0px 0;
}

.birth-date{
  height: 31px;
  width: 80px;
  background: #0CAD92;
  border-radius: 4px;
}

.email1{
  height: 31px;
  width: 80px;
  background: #0CAD92;
  border-radius: 4px;
}

.nama{
  height: 31px;
  width: 80px;
  background: #0CAD92;
  border-radius: 4px;
}


.white-profile{
  /* Rect.Profile2 */

  position: absolute;
  width: 896px;
  height: 1000px;
  padding-top: 2px;

  background-color: #FFFFFF;
  border-radius: 11px;

}

.green-box{
  /* Rectangle 2 */

  position: absolute;
  top: 101.4%;
  background: #0CAD92;
  border-radius: 10px;

}


.profile-section{
  display: grid !important;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
  padding: 0px 0;
}

.about{
  height: 1200px;
  background-color: #E3E3E3;
}

.edu-section{
  display: grid !important;
  grid-template-columns: 2fr 2fr;
  width: 100%;
  grid-gap: 80px;
  column-gap: 20px;
  padding: 20px 0px;
  margin-top: -370px;
  text-align: center;
}

.projects{
  background-color: white;
  height: 635px;
}

.education{
  text-align: center;
  color: #0CAD92;
}

.edu-line{
    /* Line 2 */
  margin-top: 120px;
  text-align: center;

}

.educ{
  height: 650px;
}

.achievements{
  height: 650px;
  background-color: #E3E3E3;
}

.achieve-text{
  padding-top: 50px;
  text-align: center;
  color: #0CAD92;
}

.achieve-section{
  display: grid !important;
  grid-template-columns: 2fr 2fr;
  width: 100%;
  grid-gap: 0px;
  column-gap: 0px;
  padding: 20px 0px;
  padding-left: 100px;
  padding-right: 100px;
}

.head-projects{
  margin-right: 90px;
  float: right;
  color: #0CAD92;
}

.the-projects{
  width: 100%;
  text-align: center;
  margin-top: 100px;
  display: inline-block;
}

.all-projects{
  text-align: center;
  display: inline-block;
}

.python-project{
  text-align: center;
  display: inline-block;
  border: 1px solid #000000;
  box-sizing: border-box;
  width: 226px;
  height: 256px;
}

.contact{
  background-color: #2D2D2D;
  height: 675px;
  bottom: 0;
}

.head-contact{
  width: 100%;
  float: right;
  text-align: right;
  color: #0CAD92;
  display: inline-block;
  padding-right: 40px;
  padding-top: 40px;
}

.landing{
  background-image: url("../img/apple-mouse-artificial-flowers-blurred-background-1229861_resized.jpg");
  background-size: cover;
  width: 100%;
  height: 675px;
}

.contact-email{
  height: 539px;
  text-align: center;
  padding-top: 200px;
}


.the-footer{
  display: inline-block;
  padding-left: 11px;
  height: 20px;
}

.up-button{
  height: 100px;
  float: right;
  padding-right: 30px;
  display: inline-block;
  text-align: center;
}

.text-zone{
  font-family: "robo-reg";
  padding-left: 10%;
  color: white;
  font-size: 30px;
}

.my-photo{
  width: 200px;
  text-align: center;
  height: auto;
  border-radius: 50%;
  position: relative;
  top: -90%;
}

.profile{
  padding-top: 40%;
}

.logo{
}

.sectionnya{
  padding-top: 200%;
  display: grid !important;
  grid-template-columns: 3fr 2fr;
  grid-gap: 0px;
  padding: 0px 0;
}
