body{
  text-align: center;
  background-color: #2D2D2D !important;

}

#not-found{
  text-align: center;
}

.pic-notfound{
  text-align: center;
}

.notfound a {
  display: inline-block;
  text-transform: uppercase;
  color: #0CAD92;
  margin-top: 30px;
  border-radius: 10px;
  text-decoration: none;
  border: 2px solid;
  background: transparent;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #ff005a;
}
